<form #addUserForm="ngForm">
    <div class="dialog-container form-group">
        <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
        <h2 mat-dialog-title>Add user</h2>
        <mat-dialog-content>

            <div class="full-width d-flex ">
                <mat-form-field class="mr-16" appearance="outline">
                    <mat-label>Firstname</mat-label>
                    <input [(ngModel)]="user.firstName" name="firstName" #firstName="ngModel" matInput required
                        [disabled]="loading">
                    <mat-error *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
                        Please enter a first name
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="flex-grow-1">
                    <mat-label>Lastname</mat-label>
                    <input [(ngModel)]="user.lastName" name="lastName" #lastName="ngModel" matInput required
                        [disabled]="loading">
                    <mat-error *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
                        Please enter a last name
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="full-width d-flex align-center ">
                <mat-form-field class="mr-16" style="width: 100px;" appearance="outline">
                    <mat-label>Area Code</mat-label>
                    <input matInput pattern="^0\d{2,5}" maxlength="6" [(ngModel)]="user.areaCode" #areaCode="ngModel" name="areaCode"
                        required [disabled]="loading">
                    <mat-hint>E.g.: 0174</mat-hint>
                    <mat-error *ngIf="areaCode.invalid && (areaCode.dirty || areaCode.touched)">
                        Please enter an area code with leading 0
                    </mat-error>
                </mat-form-field>
                <span class="mr-16"> / </span>
                <mat-form-field appearance="outline" class="flex-grow-1">
                    <mat-label>Phone Number</mat-label>
                    <input matInput pattern="\d{5,10}" maxlength="10" [(ngModel)]="user.phone" #phone="ngModel" name="phone" required
                        [disabled]="loading">
                    <mat-hint>E.g.: 123456</mat-hint>
                    <mat-error *ngIf="phone.invalid && (phone.dirty || phone.touched)">
                        Please enter a phone number
                    </mat-error>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Email</mat-label>
                    <input matInput pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                        [(ngModel)]="user.email" name="email" #email="ngModel" [disabled]="loading">
                    <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Street + House Number</mat-label>
                    <input matInput [(ngModel)]="user.street" name="street" [disabled]="loading">
                </mat-form-field>
            </div>

            <div class="full-width d-flex">
                <mat-form-field appearance="outline" class="mr-16" style="width:80px;">
                    <mat-label>Zip-Code</mat-label>
                    <input matInput [(ngModel)]="user.zipCode" name="zipCode" pattern="\d{5}" maxlength="5" [disabled]="loading">
                </mat-form-field>
                <mat-form-field appearance="outline" class="flex-grow-1">
                    <mat-label>City</mat-label>
                    <input matInput [(ngModel)]="user.city" name="city" [disabled]="loading">
                </mat-form-field>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions>
            <button mat-button mat-dialog-close>Cancel</button>
            <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
            <button mat-button (click)="saveUser()" [disabled]="loading||!addUserForm.valid">Save</button>
        </mat-dialog-actions>
    </div>
</form>