<div class="dialog-container">
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    <h2 mat-dialog-title>Edit user</h2>
    <mat-dialog-content>
        <div>
            <mat-form-field class="mr-16" appearance="outline">
                <mat-label>Firstname</mat-label>
                <input [(ngModel)]="user.firstName" matInput [disabled]="loading">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Lastname</mat-label>
                <input [(ngModel)]="user.lastName" matInput [disabled]="loading">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Email</mat-label>
                <input type="email" matInput [(ngModel)]="user.email" [disabled]="loading">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="mr-16 full-width" appearance="outline">
                <mat-label>Birthdate</mat-label>
                <input [(ngModel)]="birthDate" matInput [matDatepicker]="picker" [disabled]="loading">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close>Cancel</button>
        <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
        <button mat-button (click)="saveUser()" [disabled]="loading">Save</button>
    </mat-dialog-actions>
</div>
